// callout styles
// prevent animation overflow
.callout__container{
    overflow: hidden;
}

// overall callout
.callout{
    margin: 70px 0;
    background-color: $bgLight;
    position: relative;

    &::after{
        content: '';
        height: 36px;
        width: 100%;
        background-color: $primary;
        position: absolute;
        bottom: 0;
    }

    .callout__image {
        height: 220px;
        background-image: linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5)), url('../assets/image00003.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .callout__content{
        padding: 36px 0 72px;
        width: 75%;
        margin: 0 auto;

        h2{
            font-size: 3rem;
            line-height: 1.36;
            margin-bottom: 15px;
        }

        p{
            line-height: 2.14;
        }
    }

}
