// set default font size to use rems
html{
    font-size: 62.5%;
}

// remove default button styles
button{
    background: none;
    border: none;
    cursor: pointer;
}

// wrapper styles
.wrapper{
    max-width: 1132px;
    width: 75%;
    margin: 0 auto;
}

// set body styles
body{
    @include font(500);
    line-height: 1.7;
    font-size: 1.4rem;
    color: $fontMain;
}

// overall heading styles
h1,
h2,
h3,
h4,
h5,
h6{
    @include font(700); 
}

h2{
    font-size: 2rem;
    line-height: 1.85;


    &.h2--blue{
        color: $fontBlue;
    }

    &.h2--white{
        color: $fontWhite;
    }
}


h4{
    font-size: 1.4rem;
}



// button styles
.button--dark{
    display: inline-block;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.5px;
    width: 137px;
    padding: 18px 0;
    @include font(700);
    color: $fontWhite;
    background-color: $secondary;
    position: relative;
    overflow: hidden;
    z-index: 1;

    // before element on hover
    &:before{
        content: '';
        width: calc(100% + 40px);
        height: 100%;
        display: block;
        background-color: $primary;
        transform: skew(-20deg);
        position: absolute;
        top: 0;
        left: calc(-100% - 50px);  
        transition: all 0.2s ease;
        z-index: -1;
    
    }

    &:hover::before,
    &:focus::before{
        left: -20px;
    }
}

// link styles
.link--blue{
    @include font(700);
    color: $primary;
    text-decoration: underline;
    text-transform: capitalize;
    transition: all 0.5s ease;

    &:hover,
    &:focus{
        color: $fontMain;
        text-decoration: none;
    }
}

// blue swipe
body:before{
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;
    z-index: 1000;
    // transform: translateX(0);
    // transition: all 1s ease;
    

    
}

body.loaded:before{
        // transform: translateX(-100%);
        animation: swipe 1.5s forwards;
}

// blue swip animation
@keyframes swipe{

    0%{
        transform: translateX(0);
    }

    40%{
        transform: translateX(0);
    }

    70%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%);
    }
}
