.header--home,
.header--main{
    height: 100vh;
}

// services header
.services-page .header--main,
.projects-page .header--main,
.contact-page .header--main,
.team-page .header--main{
    background-image: linear-gradient(to bottom, rgba(0, 41, 71, 1) 5%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%), linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5));
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    position: relative;

    .image-container{
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        z-index: -2;

        .image{
            height: 100%;
            background-image: url('../assets/image00004.png');
            width: 100%;
            background-position: center;
            background-size: cover;
            animation: zoomin 60s infinite forwards;
        }
    }
}

// contact header
.contact-page .header--main{
    .image-container{
        .image{
            background-image: url('../assets/drew-beamer-Se7vVKzYxTI-unsplash.png');
        }
    }
}

// team header
.team-page .header--main{
    .image-container{
        .image{
            background-image: url('../assets/image000011.png');
        }
    }
}

// projects header
.projects-page .header--main{
    .image-container{
        .image{
            background-image: url('../assets/image00005.png');
        }
    }
}



// main styles for header
.header--home{
    background-image: linear-gradient(to bottom, rgba(0, 41, 71, 1) 5%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%), linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5));
    // animation: zoomin 60s infinite linear;
    position: relative;

    .image-slides{
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;

        video{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        
        li{
            height: 100%;
            background-image: url(./assets/image2.jpg);
            width: 100%;
            background-position: center;
            background-size: cover;
            
            
            &.swiper-slide-active{
                animation: zoomin 60s infinite forwards;
            }
        }
    }
    // animation-delay: 5000ms;

    // &::before{
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     width: 100%;
    //     transform: translateX(-100%);
    //     height: 100%;
    //     background-color: $primary;
    //     z-index: -1;
    // }
    &::after{
        content: '';
        height: 50px;
        width: 100%;
        background-color: $primary;
        position: absolute;
        bottom: -50px;
    }
}

// hide the call button on desktop
.button--call{
    display: none;
}

// nav styles
.nav{
    padding: 23px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    transition: background 0.5s ease;

    &.white{
        background-color: white;
        box-shadow: 0 2px 6px 1px rgba(0,0,0,0.32);
        padding: 15px 0;
    }

    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo{
        display: inline-block;
        width: 170px;
    }
}

// make menu none by default
.nav__menu{
    // display: none;
    // transform: scale(0);
    opacity: 0;
    visibility: hidden;
    // transition: opacity 0.5s ease;
    transition-property: visibility, opacity;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    padding: 0 12.5%;
    position: fixed;
    z-index: 10;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $bgDark;
    color: $fontWhite;

    &.open{
        // display: block;
        // transform: scale(1);
        opacity: 1;
        visibility: visible;


        .nav__links{
    
            li{
                opacity: 1;
                transform: translateY(0);
            }
        }

        article{
            opacity: 1;
            transform: translateY(0);
        }
    }

    button .button--cross{
        position: absolute;
        z-index: 20;
        top: 23px;
        right: 12.5%;
        padding: 10px;
        // span{
        //     display: block;
        //     background-color: $fontBlue;
        //     height: 4px;
        //     width: 100%;
        //     transform: rotate(45deg);
        // }
    }

    .logo{
        // position: absolute;
        // top: 23px;
        // left: 10%;
        padding: 23px 0;
    }

    // links styles
    .nav__links{
        padding: 10px 0;

        li{
            font-size: 2.4rem;
            margin-bottom: 20px;
            @include font(700);

            opacity: 0;
            transform: translateY(100%);
            transition: all 0.5s ease;
        }

        li:nth-of-type(1){
            transition-delay: 0;
        }

        li:nth-of-type(2){
            transition-delay: 0.2s;
        }

        li:nth-of-type(3){
            transition-delay: 0.4s;
        }

        li:nth-of-type(4){
            transition-delay: 0.6s;
        }

        li:nth-of-type(5){
            transition-delay: 0.8s;
        }
    }

    // sections of the nav links
    article{
        opacity: 0;
        transform: translateY(100%);
        transition: all 0.5s ease;

        &:first-of-type{
            padding-bottom: 30px;
            transition-delay: 1s;
        }

        &:last-of-type{
            transition-delay: 1.2s;
        }
        
        h4{
            margin-bottom: 15px;
            color: $fontBlue;
        }

        .email{
            text-decoration: underline;
        }

        p, address{
            @include font(700);
            font-style: normal;
        }
    }
    
}

// hamburger styles
button .button--ham{
    padding: 10px;
}

// nav title styles
.header__title{
    padding-top: 30vh;
    text-align: center;
    color: $fontWhite;

    // title on home page
    .h1--home{
        font-size: 2rem;
        margin-bottom: 20px;
        line-height: 1.85;
    }

    // titles on other pages
    .h1--main{
        font-size: 5rem;
        line-height: 1.54;
        padding-bottom: 175px;
    }

    // scrolling element
    .scroll{
        img{
            margin: 0 auto;
        }

        p{
            text-transform: lowercase;
            font-size: 1.2rem;
            padding-top: 10px;
        }

        svg #Path{
            animation: mouse 1.5s linear infinite;
        }
    }
}

@keyframes mouse{

    0%{
        opacity: 1;
        transform: translateY(-1px);
    }
    15%{
        opacity: 1;
        transform: translateY(2px);
    }
    50%{
        opacity: 0;
        transform: translateY(2px);
    }
    100%{
        opacity: 0;
        transform: translateY(-1px);
    }
}

@keyframes zoomin{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}



