// media queries for the site
@media screen and (min-width: 1000px){

        //      GENERAL STYLES
        .wrapper{
            width: 80%;
        }

        //     HEADER STYLEs

        // nav styles
        .nav {

            .wrapper{
                justify-content: flex-start;
                align-items: center;

            }

            .logo{
                margin-right: 100px;
            }
        }

        // hide ham button
        .nav--mobile{
            display: none;
        }

        // show nav items
        .nav__menu{
            display: block;
            position: static;
            padding: 0;
            height: auto;
            z-index: auto;
            background-color: transparent;

            .logo, article{
                display: none;
            }

            button{
                display: none;
                visibility: hidden;
            }

            .nav__links{
                padding: 0;
                display: flex;
                flex-direction: row;
        
                li{
                    font-size: 1.4rem;
                    margin-bottom: 0px;
                    padding-right: 30px;
                }

                &.scrollin li{
                    color: $fontMain;
                }

                &.scrollin li.activePage, li.activePage{
                    color: $primary;
                    text-decoration: underline;

                    &:hover,
                    &:focus{
                        color: $fontMain;
                        text-decoration: none;
                    }
                }
            }
        }

        
        // main header
        .header__title{
            padding-top: 40vh;
            .h1--main{
                padding-bottom: 30vh;
            }

            .h1--home{
                font-size: 3rem;
                max-width: 700px;
                margin: 0 auto 20px;
            }
        }

        // HOME PAGE

        // service cards
        .services{
            top: -120px;
            // remove space left from being positioned relative
            margin-bottom: -120px;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                // flex-wrap: wrap;
                li{
                    width: calc(100%/3);
                }
                li:nth-child(2){
                    margin: 0 20px;
                }
            }
        }

        // card styles, add border
        .card{
            border-bottom: 10px solid transparent;
            &:hover{
                box-shadow: $boxShadow;
                border-bottom: 10px solid $fontBlue;
            }
            .card__content{
                padding: 30px 24px;

                h3{
                    max-width: 220px;
                    margin: 0 auto 20px;
                }
            }
        }

        // MAIN CONTENT AREAS
        .content{
            // split top content
            .content__intro{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

            }
            .content__title{
                width: 40%;
            }

            .content__mainp{
                width: 50%;
            }

            .content__services{
                ul{
                    columns: 2;
                    column-gap: 40px;
                }

                li{
                    margin-bottom: 15px;
                }

            }
        }

        // CALLOUTS
        .callout{
            display: flex;
            width: 90%;

            &.callout--left{
                flex-direction: row-reverse;
            }

            &.callout--right{
                flex-direction: row;
                margin-left: 10%;

            }

            .callout__image{
                width: 40%;
                height: auto;
            }

            .callout__content{
                padding: 120px 50px 120px 180px;
                width: 60%;
            }

            h2{
                max-width: 300px;
            }
        }

        .callout.callout--right::after{
            content: '';
            height: 100%;
            width: 40px;
            background-color: $primary;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .callout.callout--left::after{
            content: '';
            height: 100%;
            width: 40px;
            background-color: $primary;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .callout.callout--right .callout__content{
            padding: 120px 100px;
        }

        // INTRO
        .intro .wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h2{
                width: 40%;
            }

            p{
                width: 40%;
            }
        }

        // PROJECTS PAGE
        .projects__list{
            ul{
                flex-direction: row;
                flex-wrap: wrap;

                li{
                    width: calc(100%/3 - 20px);
                    margin-right: 20px;
                    
                }

                li:nth-of-type(3){
                    margin-right: 0;
                }
            }

            .projects__project button{
                height: 380px;
                transition: transform 1s;
            }

            .projects__project button:hover{
                transform: perspective(2000px) rotate3d(0, 1, 0, -25deg);
            }
        }

        .text__twoCol{
            .wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                
            }

            .content__list:first-of-type{
                width: 60%;

                ul{
                    columns: 2;
                    column-gap: 10px;
                }
                
            }

            .content__list:last-of-type{
                width: 30%;
            }

            
        }

        // TEAM PAGE
        .team__members{
        
            .wrapper{
                width: 70%;
                flex-direction: row;
                justify-content: space-between;
            }

            .team__member{
                width: 40%;
            }
        }

        // ADDITIONAL AREAS 

        .additional .wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }

        .logos{
            margin-top: 0;
            width: 50%;
            ul{
                grid-template-columns: repeat(4, 1fr);
            }
        }

        .testimonials{
            width: 40%;

            
        }

        // CONTACT US STYLES
        .contact__content{
            .wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .contact__form{
            width: 70%;

            .contact__wrap{
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .contact__wrap input:last-of-type{
                margin-bottom: 52px;
            }

            .input__wrapper{
                width: 48%;
            }

            h2{
                margin-bottom: 70px;
            }
        }

        .contact__info{
            width: 20%;
            padding: 70px 0;
        }


        // FOOTER STYLES
        .footer{
            display: flex;
            flex-direction: row;
        }

        // pos the bottom two sections
        .footer__bottom{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            article{
                width: 30%;
                margin-right: 40px;
            }

            p, address{
                font-size: 1.2rem;
            }
        }

        .footer__address{
            width: 70%;

            .footer__subtitle{
                max-width: 400px;
            }
            article:first-of-type{
                padding-bottom: 0px;
            }
        }
        // make it go bottom right
        .footer__social{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            .wrapper{
                margin: 0;
                margin-right: 20%;
            }

            ul li, h4{
                text-align: right;
            }
            
        }

}

@media screen and (min-width: 1280px){

    // HEADER SECTION

    .nav .logo {
        margin-right: 150px;
    }

    // button call styles
    .button--call{
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 10%;
        width: 170px;
        text-align: center;
        @include font(700);
        background-color: $primary;
        padding: 20px 30px 10px;

        &.scrollin{
            top: 14px;

            p:first-child{
                display: none;
            }
        } 
        
    }

    .nav__menu{
        .nav__links{
            &.scrollin li{
                color: $fontMain;
            }

            &.scrollin li.activePage{
                color: $primary;
                text-decoration: underline;

                &:hover,
                &:focus{
                    color: $fontMain;
                    text-decoration: none;
                }
            }
        }
    }

    // main header
    .header__title{
        .h1--main{
            padding-bottom: 35vh;
        }
    }

    // ADDITIONAL SECTION
    .additional {
        h2{
            font-size: 3.2rem;
        }
    }

    .testimonials{
        h2{
            max-width: 350px;
        }
    }
}