@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, h1 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.wrapper {
  max-width: 1132px;
  width: 75%;
  margin: 0 auto;
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  font-size: 1.4rem;
  color: #090B0D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  line-height: 1.85;
}

h2.h2--blue {
  color: #0171BA;
}

h2.h2--white {
  color: #ffffff;
}

h4 {
  font-size: 1.4rem;
}

.button--dark {
  display: inline-block;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.5px;
  width: 137px;
  padding: 18px 0;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: #ffffff;
  background-color: #00192A;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button--dark:before {
  content: '';
  width: calc(100% + 40px);
  height: 100%;
  display: block;
  background-color: #0086DD;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  position: absolute;
  top: 0;
  left: calc(-100% - 50px);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: -1;
}

.button--dark:hover::before, .button--dark:focus::before {
  left: -20px;
}

.link--blue {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: #0086DD;
  text-decoration: underline;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.link--blue:hover, .link--blue:focus {
  color: #090B0D;
  text-decoration: none;
}

body:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #0086DD;
  z-index: 1000;
}

body.loaded:before {
  -webkit-animation: swipe 1.5s forwards;
          animation: swipe 1.5s forwards;
}

@-webkit-keyframes swipe {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes swipe {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.header--home,
.header--main {
  height: 100vh;
}

.services-page .header--main,
.projects-page .header--main,
.contact-page .header--main,
.team-page .header--main {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #002947), color-stop(40%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), -webkit-gradient(linear, left top, right top, from(rgba(53, 115, 162, 0.5)), to(rgba(53, 115, 162, 0.5)));
  background-image: linear-gradient(to bottom, #002947 5%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%), linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5));
  position: relative;
}

.services-page .header--main .image-container,
.projects-page .header--main .image-container,
.contact-page .header--main .image-container,
.team-page .header--main .image-container {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: -2;
}

.services-page .header--main .image-container .image,
.projects-page .header--main .image-container .image,
.contact-page .header--main .image-container .image,
.team-page .header--main .image-container .image {
  height: 100%;
  background-image: url("../assets/image00004.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  -webkit-animation: zoomin 60s infinite forwards;
          animation: zoomin 60s infinite forwards;
}

.contact-page .header--main .image-container .image {
  background-image: url("../assets/image00001.png");
}

.team-page .header--main .image-container .image {
  background-image: url("../assets/image000011.jpg");
}

.projects-page .header--main .image-container .image {
  background-image: url("../assets/projects-hero.jpg");
}

.header--home {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #002947), color-stop(40%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), -webkit-gradient(linear, left top, right top, from(rgba(53, 115, 162, 0.5)), to(rgba(53, 115, 162, 0.5)));
  background-image: linear-gradient(to bottom, #002947 5%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%), linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5));
  position: relative;
}

.header--home .image-slides {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.header--home .image-slides video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header--home .image-slides li {
  height: 100%;
  background-image: url(./assets/image2.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
}

.header--home .image-slides li.swiper-slide-active {
  -webkit-animation: zoomin 60s infinite forwards;
          animation: zoomin 60s infinite forwards;
}

.header--home::after {
  content: '';
  height: 50px;
  width: 100%;
  background-color: #0086DD;
  position: absolute;
  bottom: -50px;
}

.button--call {
  display: none;
}

.nav {
  padding: 23px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.nav.white {
  background-color: white;
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.32);
          box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.32);
  padding: 15px 0;
}

.nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .logo {
  display: inline-block;
  width: 170px;
}

.nav__menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
  -webkit-transition-duration: 0.5s, 0.5s;
          transition-duration: 0.5s, 0.5s;
  -webkit-transition-timing-function: ease, ease;
          transition-timing-function: ease, ease;
  -webkit-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s;
  padding: 0 12.5%;
  position: fixed;
  z-index: 10;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #161A1E;
  color: #ffffff;
}

.nav__menu.open {
  opacity: 1;
  visibility: visible;
}

.nav__menu.open .nav__links li {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav__menu.open article {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav__menu button .button--cross {
  position: absolute;
  z-index: 20;
  top: 23px;
  right: 12.5%;
  padding: 10px;
}

.nav__menu .logo {
  padding: 23px 0;
}

.nav__menu .nav__links {
  padding: 10px 0;
}

.nav__menu .nav__links li {
  font-size: 2.4rem;
  margin-bottom: 20px;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav__menu .nav__links li:nth-of-type(1) {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.nav__menu .nav__links li:nth-of-type(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav__menu .nav__links li:nth-of-type(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav__menu .nav__links li:nth-of-type(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.nav__menu .nav__links li:nth-of-type(5) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.nav__menu article {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav__menu article:first-of-type {
  padding-bottom: 30px;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.nav__menu article:last-of-type {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.nav__menu article h4 {
  margin-bottom: 15px;
  color: #0171BA;
}

.nav__menu article .email {
  text-decoration: underline;
}

.nav__menu article p, .nav__menu article address {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button .button--ham {
  padding: 10px;
}

.header__title {
  padding-top: 30vh;
  text-align: center;
  color: #ffffff;
}

.header__title .h1--home {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.85;
}

.header__title .h1--main {
  font-size: 5rem;
  line-height: 1.54;
  padding-bottom: 175px;
}

.header__title .scroll img {
  margin: 0 auto;
}

.header__title .scroll p {
  text-transform: lowercase;
  font-size: 1.2rem;
  padding-top: 10px;
}

.header__title .scroll svg #Path {
  -webkit-animation: mouse 1.5s linear infinite;
          animation: mouse 1.5s linear infinite;
}

@-webkit-keyframes mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  15% {
    opacity: 1;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  15% {
    opacity: 1;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.services {
  text-align: center;
  position: relative;
  z-index: 2;
  top: -140px;
  margin-bottom: -140px;
}

.services[data-aos-delay] {
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

.services h2 {
  margin-bottom: 18px;
}

.card {
  margin-bottom: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card:hover {
  -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
}

.card .card__image, .card img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card__content {
  padding: 30px 40px;
  background-color: #F1F1F1;
}

.card .card__content h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.card .card__content p {
  margin-bottom: 15px;
  font-size: 1.2rem;
  line-height: 2;
}

.logos {
  margin: 80px 0;
}

.logos h2 {
  margin-bottom: 30px;
}

.logos ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.testimonials h2 {
  margin-bottom: 20px;
}

.testimonial__slide {
  display: none;
}

.testimonial__slide p, .testimonial__slide h3 {
  font-size: 1.2rem;
  line-height: 2;
}

.testimonial__slide p {
  font-size: 1.2rem;
  line-height: 2;
}

.testimonial__slide .testimonial__name,
.testimonial__slide .testimonial__title {
  text-transform: uppercase;
  color: #0171BA;
}

.testimonial__slide .testimonials__titles {
  width: 40%;
}

.testimonial__slide .testimonial__bottom {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.testimonial__slide .testimonial__button--prev {
  margin-right: 15px;
}

.testimonial__slide:first-of-type {
  display: block;
}

.content {
  padding: 70px 0;
}

.content h2 {
  font-size: 3rem;
  line-height: 1.36;
  margin-bottom: 20px;
}

.content h3 {
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.content .content__subtitle {
  font-size: 2rem;
  line-height: 1.85;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.content .content__mainp {
  line-height: 2.4;
  margin-bottom: 50px;
}

.content .content__mainp p {
  margin-bottom: 15px;
}

.content .content__services ul {
  list-style-type: disc;
  padding: 0 10px 30px;
}

.content .content__services li {
  margin-bottom: 24px;
}

.content .content__services li > ul {
  padding: 15px 20px 0;
  list-style-type: circle;
}

.content .content__services li > ul li {
  margin-bottom: 0;
}

.content--blue {
  background: #0086DD;
  color: #ffffff;
}

.content--blue .content__subtitle, .content--blue h3 {
  color: #090B0D;
}

.content--white .content__subtitle, .content--white h3,
.content--dark .content__subtitle,
.content--dark h3 {
  color: #0171BA;
}

.content--dark {
  background-image: url("../assets/blueprint-2.png"), -webkit-gradient(linear, left top, left bottom, from(#161A1E), to(#161A1E));
  background-image: url("../assets/blueprint-2.png"), linear-gradient(to bottom, #161A1E, #161A1E);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.intro {
  padding: 70px 0 230px;
  overflow: hidden;
}

.intro h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  line-height: 1.36;
}

.intro p {
  line-height: 2.4;
  margin-bottom: 10px;
}

.intro--light {
  background-image: url("../assets/blueprint-opacity.png"), -webkit-gradient(linear, left top, left bottom, from(#F1F1F1), to(#F1F1F1));
  background-image: url("../assets/blueprint-opacity.png"), linear-gradient(to bottom, #F1F1F1, #F1F1F1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro--dark {
  background-image: url("../assets/blueprint-2.png"), -webkit-gradient(linear, left top, left bottom, from(#161A1E), to(#161A1E));
  background-image: url("../assets/blueprint-2.png"), linear-gradient(to bottom, #161A1E, #161A1E);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.callout__container {
  overflow: hidden;
}

.callout {
  margin: 70px 0;
  background-color: #F1F1F1;
  position: relative;
}

.callout::after {
  content: '';
  height: 36px;
  width: 100%;
  background-color: #0086DD;
  position: absolute;
  bottom: 0;
}

.callout .callout__image {
  height: 220px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(53, 115, 162, 0.5)), to(rgba(53, 115, 162, 0.5))), url("../assets/image00003.png");
  background-image: linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5)), url("../assets/image00003.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout .callout__content {
  padding: 36px 0 72px;
  width: 75%;
  margin: 0 auto;
}

.callout .callout__content h2 {
  font-size: 3rem;
  line-height: 1.36;
  margin-bottom: 15px;
}

.callout .callout__content p {
  line-height: 2.14;
}

.projects__list {
  margin-bottom: -100px;
  position: relative;
  top: -170px;
}

.projects__list ul.projects__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects__list .projects__project > button {
  height: 340px;
  padding: 0 26px 40px;
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), to(#002947)), -webkit-gradient(linear, left top, right top, from(rgba(53, 115, 162, 0.5)), to(rgba(53, 115, 162, 0.5))), url("../assets/rogers.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 70%, #002947 100%), linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5)), url("../assets/rogers.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projects__list .projects__project > button h3 {
  font-size: 2rem;
  padding-bottom: 10px;
  color: #ffffff;
}

.projects__list .projects__project > button p {
  color: #009AFF;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

.projects__list .projects__project:nth-of-type(1) > button {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), to(#002947)), -webkit-gradient(linear, left top, right top, from(rgba(53, 115, 162, 0.5)), to(rgba(53, 115, 162, 0.5))), url("../assets/tdsb/61642681716__6F3C8578-364C-4AB3-8F8E-D4FCB0DF5FAB.jpeg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 70%, #002947 100%), linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5)), url("../assets/tdsb/61642681716__6F3C8578-364C-4AB3-8F8E-D4FCB0DF5FAB.jpeg");
}

.projects__list .projects__project:nth-of-type(2) > button {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), to(#002947)), -webkit-gradient(linear, left top, right top, from(rgba(53, 115, 162, 0.5)), to(rgba(53, 115, 162, 0.5))), url("../assets/mohawk/IMG_0680.jpeg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 70%, #002947 100%), linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5)), url("../assets/mohawk/IMG_0680.jpeg");
}

.projects__list .projects__project:nth-of-type(3) > button {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), to(#002947)), -webkit-gradient(linear, left top, right top, from(rgba(53, 115, 162, 0.5)), to(rgba(53, 115, 162, 0.5))), url("../assets/torontoems/IMG_0892.jpeg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 70%, #002947 100%), linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5)), url("../assets/torontoems/IMG_0892.jpeg");
}

.projects__list .projects__project:nth-of-type(4) > button {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), to(#002947)), -webkit-gradient(linear, left top, right top, from(rgba(53, 115, 162, 0.5)), to(rgba(53, 115, 162, 0.5))), url("../assets/sickkids/IMG_0409.jpeg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 70%, #002947 100%), linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5)), url("../assets/sickkids/IMG_0409.jpeg");
}

.projects__list .projects__project:nth-of-type(5) > button {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), to(#002947)), -webkit-gradient(linear, left top, right top, from(rgba(53, 115, 162, 0.5)), to(rgba(53, 115, 162, 0.5))), url("../assets/labworks/IMG_2761.jpeg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 70%, #002947 100%), linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5)), url("../assets/labworks/IMG_2761.jpeg");
}

.projects__list .projects__project:nth-of-type(6) > button {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), to(#002947)), -webkit-gradient(linear, left top, right top, from(rgba(53, 115, 162, 0.5)), to(rgba(53, 115, 162, 0.5))), url("../assets/hydroottawa/IMG_0405.jpeg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 70%, #002947 100%), linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5)), url("../assets/hydroottawa/IMG_0405.jpeg");
}

.projects__list .projects__project:nth-of-type(7) > button {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), to(#002947)), -webkit-gradient(linear, left top, right top, from(rgba(53, 115, 162, 0.5)), to(rgba(53, 115, 162, 0.5))), url("../assets/bdc/IMG_1765.JPG");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 70%, #002947 100%), linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5)), url("../assets/bdc/IMG_1765.JPG");
}

.projects__list .projects__gallery {
  position: fixed;
  display: none;
  z-index: 150;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.835);
}

.projects__list .projects__gallery.open-gallery {
  display: block;
}

.projects__list .projects__gallery .swiper-container {
  width: 80%;
  height: 100%;
}

.projects__list .projects__gallery .swiper-button-prev, .projects__list .projects__gallery .swiper-button-next {
  color: #0086DD;
}

.projects__list .projects__gallery .swiper-slide {
  /* Center slide */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
}

.projects__list .projects__gallery video {
  max-width: 100%;
  height: auto;
}

.projects__list .projects__gallery .close-gallery {
  position: absolute;
  z-index: 100;
  top: 40px;
  right: 12.5%;
  padding: 10px;
}

.projects__list .projects__gallery .close-gallery img {
  width: 20px;
}

.projects__list .projects__gallery img {
  margin: 0 auto;
}

.text__twoCol {
  padding: 70px 0;
}

.text__twoCol h3 {
  margin-bottom: 30px;
  font-size: 1.4rem;
  line-height: 2.4;
}

.text__twoCol .content__list:first-child {
  margin-bottom: 42px;
}

.text__twoCol li {
  margin-bottom: 24px;
}

.team-page .callout .callout__image {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(53, 115, 162, 0.5)), to(rgba(53, 115, 162, 0.5))), url("../assets/image00002.png");
  background-image: linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5)), url("../assets/image00002.png");
}

.team__members {
  margin-bottom: -170px;
  position: relative;
  top: -170px;
}

.team__members .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__members .team__picture {
  height: 340px;
  width: 100%;
  max-width: 450px;
  position: relative;
  margin-bottom: 30px;
}

.team__members .team__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__members .team__content h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.team__members .team__content p:first-of-type {
  color: #0171BA;
}

.team__members .team__content p {
  margin-bottom: 20px;
  line-height: 2.14;
}

.team__members .team__member:first-of-type {
  margin-bottom: 45px;
}

.team__members .team__member:first-of-type p:last-of-type {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

.contact__form {
  padding: 70px 0;
}

.contact__form h2 {
  font-size: 3rem;
  line-height: 1.36;
  margin-bottom: 30px;
}

.contact__form span {
  color: #0171BA;
}

.contact__form p {
  font-size: 1.2rem;
  line-height: 2;
  margin-bottom: 20px;
}

.contact__form .contact__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form .contact__wrap .input__wrapper {
  position: relative;
}

.contact__form .contact__wrap label {
  position: absolute;
  top: -20px;
  left: 0;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  opacity: 0;
  color: #090b0d7a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact__form .contact__wrap input {
  margin-bottom: 52px;
  border: none;
  border-bottom: 2px solid #D8D8D8;
  padding: 10px 0;
  width: 100%;
}

.contact__form .contact__wrap input::-webkit-input-placeholder {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  opacity: 0.4;
}

.contact__form .contact__wrap input:-ms-input-placeholder {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  opacity: 0.4;
}

.contact__form .contact__wrap input::-ms-input-placeholder {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  opacity: 0.4;
}

.contact__form .contact__wrap input::placeholder {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  opacity: 0.4;
}

.contact__form .contact__wrap input:focus {
  border-bottom-color: #0086DD;
  outline: none;
}

.contact__form .contact__wrap input:focus + label {
  opacity: 1;
}

.contact__form .contact__wrap input[type="text"],
.contact__form .contact__wrap input[type="email"] {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.contact__info h4 {
  margin-bottom: 20px;
}

.contact__contact {
  padding-bottom: 37px;
}

.contact__contact .contact__number {
  margin-bottom: 20px;
}

.contact__contact .contact__indv {
  margin-bottom: 20px;
}

.contact__contact .contact__indv p {
  margin-bottom: 10px;
}

.contact__contact .contact__indv .link--blue {
  text-transform: lowercase;
}

.contact__location .contact__address address {
  font-style: normal;
  line-height: 2.14;
  margin-bottom: 20px;
}

.contact-page .callout {
  position: relative;
  z-index: 10;
}

.contact-page .callout .callout__image {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(53, 115, 162, 0.5)), to(rgba(53, 115, 162, 0.5))), url("../assets/24-hour-service.png");
  background-image: linear-gradient(to right, rgba(53, 115, 162, 0.5), rgba(53, 115, 162, 0.5)), url("../assets/24-hour-service.png");
}

.contact__map {
  position: relative;
  top: -200px;
  margin-bottom: -200px;
}

footer a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer a:hover {
  color: #00192A;
}

.footer__address {
  padding: 70px 0;
  background-image: url("../assets/06c1be1bf79a2174802c8c51d7e60422.png"), -webkit-gradient(linear, left top, left bottom, from(#0086DD), to(#0086DD));
  background-image: url("../assets/06c1be1bf79a2174802c8c51d7e60422.png"), linear-gradient(to bottom, #0086DD, #0086DD);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__address address {
  font-style: normal;
}

.footer__address h4 {
  padding-bottom: 14px;
}

.footer__address p, .footer__address address {
  color: #ffffff;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

.footer__address .footer__email {
  text-decoration: underline;
}

.footer__address .footer__subtitle {
  font-size: 2rem;
  padding-bottom: 74px;
}

.footer__address article:first-of-type {
  padding-bottom: 55px;
}

.footer__social {
  padding: 70px 0;
  background-color: #0086DD;
}

.footer__social h4 {
  padding-bottom: 10px;
}

.footer__social a {
  font-weight: 700;
  color: #ffffff;
  font-size: 2rem;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    width: 80%;
  }
  .header__title {
    padding-top: 40vh;
  }
  .header__title .h1--main {
    padding-bottom: 30vh;
  }
  .header__title .h1--home {
    font-size: 3rem;
    max-width: 700px;
    margin: 0 auto 20px;
  }
  .services {
    top: -120px;
    margin-bottom: -120px;
  }
  .services ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services ul li {
    width: calc(100%/3);
  }
  .services ul li:nth-child(2) {
    margin: 0 20px;
  }
  .services[data-aos-delay] {
    -webkit-transition-delay: 2.2s !important;
            transition-delay: 2.2s !important;
  }
  .card {
    position: relative;
  }
  .card::after {
    content: '';
    position: absolute;
    display: block;
    opacity: 0;
    bottom: 0px;
    left: 0;
    height: 10px;
    width: 100%;
    background-color: #0171BA;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .card:hover::after {
    opacity: 1;
  }
  .card:hover {
    -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
            box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
  }
  .card .card__content {
    padding: 30px 24px;
  }
  .card .card__content h3 {
    max-width: 220px;
    margin: 0 auto 20px;
  }
  .card .card__content .link--blue {
    font-size: 1.2rem;
  }
  .content .content__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content .content__title {
    width: 40%;
  }
  .content .content__mainp {
    width: 50%;
  }
  .content .content__services ul {
    -webkit-columns: 2;
            columns: 2;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .content .content__services p, .content .content__services h3 {
    max-width: 540px;
  }
  .content .content__services li {
    margin-bottom: 15px;
  }
  .callout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
  }
  .callout.callout--left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .callout.callout--right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 10%;
  }
  .callout.callout--right .callout__content {
    margin: 0;
    width: 60%;
  }
  .callout .callout__image {
    width: 40%;
    height: auto;
  }
  .callout .callout__content {
    padding: 120px 50px 120px 20%;
    width: 70%;
  }
  .callout h2 {
    max-width: 340px;
  }
  .callout.callout--right::after {
    content: '';
    height: 100%;
    width: 40px;
    background-color: #0086DD;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .callout.callout--left::after {
    content: '';
    height: 100%;
    width: 40px;
    background-color: #0086DD;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .callout.callout--right .callout__content {
    padding: 120px 100px;
  }
  .intro .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .intro .wrapper h2 {
    width: 40%;
  }
  .intro .wrapper .written {
    width: 40%;
  }
  .projects__list ul.projects__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects__list ul.projects__buttons .projects__project {
    width: calc(100%/3 - 20px);
    margin-right: 20px;
  }
  .projects__list ul.projects__buttons .projects__project:nth-of-type(3) {
    margin-right: 0;
  }
  .projects__list .projects__project > button {
    height: 380px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  .projects__list .projects__project > button:hover {
    -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, -25deg);
            transform: perspective(2000px) rotate3d(0, 1, 0, -25deg);
  }
  .projects__list .projects__gallery .swiper-container {
    width: 60%;
  }
  .projects__list .projects__gallery .swiper-button-prev {
    left: 20px;
  }
  .projects__list .projects__gallery .swiper-button-next {
    right: 20px;
  }
  .text__twoCol .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .text__twoCol .content__list:first-of-type {
    width: 60%;
  }
  .text__twoCol .content__list:first-of-type ul {
    -webkit-columns: 2;
            columns: 2;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .text__twoCol .content__list:last-of-type {
    width: 30%;
  }
  .team__members .team__picture {
    height: 450px;
    width: 100%;
  }
  .team__members .wrapper {
    width: 70%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .team__members .team__member {
    width: 40%;
  }
  .additional .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logos {
    margin-top: 0;
    width: 50%;
  }
  .logos ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .testimonials {
    width: 40%;
  }
  .contact__content .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__form {
    width: 70%;
  }
  .contact__form .contact__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact__form .contact__wrap input:last-of-type {
    margin-bottom: 52px;
  }
  .contact__form .input__wrapper {
    width: 48%;
  }
  .contact__form h2 {
    margin-bottom: 70px;
  }
  .contact__info {
    width: 20%;
    padding: 70px 0;
  }
  .footer {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(35%, #0086DD), color-stop(35%, rgba(0, 0, 0, 0))), url("../assets/06c1be1bf79a2174802c8c51d7e60422.png"), -webkit-gradient(linear, left top, left bottom, from(#0086DD), to(#0086DD));
    background-image: linear-gradient(to left, #0086DD 35%, rgba(0, 0, 0, 0) 35% 100%), url("../assets/06c1be1bf79a2174802c8c51d7e60422.png"), linear-gradient(to bottom, #0086DD, #0086DD);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .footer .footer--wrapper {
    max-width: 1132px;
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer h4 {
    font-size: 1.2rem;
  }
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__bottom article {
    width: 30%;
    margin-right: 40px;
  }
  .footer__bottom p, .footer__bottom address {
    font-size: 1.2rem;
  }
  .footer__address {
    background-image: none;
    width: 70%;
  }
  .footer__address .wrapper {
    width: 100%;
  }
  .footer__address .footer__subtitle {
    max-width: 640px;
    font-size: 3rem;
  }
  .footer__address article:first-of-type {
    padding-bottom: 0px;
  }
  .footer__social {
    background-color: transparent;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer__social .wrapper {
    margin: 0;
    width: 100%;
  }
  .footer__social ul li, .footer__social h4 {
    text-align: right;
  }
}

@media screen and (min-width: 1140px) {
  .nav .wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .nav .logo {
    margin-right: 2%;
  }
  .nav--mobile {
    display: none;
  }
  .nav__menu {
    visibility: visible;
    opacity: 1;
    position: static;
    padding: 0;
    height: auto;
    z-index: auto;
    background-color: transparent;
  }
  .nav__menu .logo, .nav__menu article {
    display: none;
  }
  .nav__menu button {
    display: none;
    visibility: hidden;
  }
  .nav__menu .nav__links {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__menu .nav__links li {
    font-size: 1.6rem;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-bottom: 0px;
    padding-right: 30px;
  }
  .nav__menu .nav__links li:hover, .nav__menu .nav__links li:focus {
    color: #0086DD;
    text-decoration: underline;
  }
  .nav__menu .nav__links li:nth-of-type(1),
  .nav__menu .nav__links li:nth-of-type(2),
  .nav__menu .nav__links li:nth-of-type(3),
  .nav__menu .nav__links li:nth-of-type(4),
  .nav__menu .nav__links li:nth-of-type(5) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .nav__menu .nav__links.scrollin li {
    color: #090B0D;
  }
  .nav__menu .nav__links.scrollin li:hover, .nav__menu .nav__links.scrollin li:focus {
    color: #0086DD;
    text-decoration: underline;
  }
  .nav__menu .nav__links.scrollin li.activePage, .nav__menu .nav__links li.activePage {
    color: #0086DD;
    text-decoration: underline;
  }
  .button--call {
    display: block;
    color: white;
    position: absolute;
    top: -23px;
    right: 0;
    width: 170px;
    text-align: center;
    font-family: "Spartan", sans-serif;
    font-weight: 700;
    background-color: #0086DD;
    padding: 14px 30px;
    overflow: hidden;
    z-index: 1;
  }
  .button--call p {
    font-size: 1.2rem;
  }
  .button--call a {
    letter-spacing: 1.6px;
    padding: 10px 0;
  }
  .button--call.scrollin {
    top: -2.5px;
    line-height: 1;
  }
  .button--call.scrollin p:first-child {
    display: none;
  }
  .button--call:before {
    content: '';
    width: calc(100% + 40px);
    height: 100%;
    display: block;
    background-color: #00192A;
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
    position: absolute;
    top: 0;
    left: calc(-100% - 60px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: -1;
  }
  .button--call:hover::before, .button--call:focus::before {
    left: -20px;
  }
}

@media screen and (min-width: 1280px) {
  .nav .logo {
    margin-right: 12%;
  }
  .nav__menu .nav__links.scrollin li {
    color: #090B0D;
  }
  .nav__menu .nav__links.scrollin li.activePage {
    color: #0086DD;
    text-decoration: underline;
  }
  .nav__menu .nav__links.scrollin li.activePage:hover, .nav__menu .nav__links.scrollin li.activePage:focus {
    color: #090B0D;
    text-decoration: none;
  }
  .header__title .h1--main {
    padding-bottom: 35vh;
  }
  .additional h2 {
    font-size: 3.2rem;
  }
  .testimonials h2 {
    max-width: 350px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1920px) {
  .callout .callout__content {
    padding-left: 30%;
  }
  .callout.callout--right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 20%;
    width: 80%;
  }
  .team__members .team__picture {
    height: 500px;
  }
}
